.example-container {

    width: 100%;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  
  }
  
  
  .mat-mdc-table {
    width: 400px;
    max-height: 5000px;
    overflow: auto;
  }
  
  .mat-column-name {
    height: 100px;
    width: 400px;
  }