<br><br>
<div class="container my-3">
    <mat-toolbar>
        <span>Inicio</span>
      </mat-toolbar>

      <div class="row my-3">
        <div class="col-4">
            <div class="card shadow margen ">
                <app-buscar-maestro></app-buscar-maestro>
             </div>
         
        </div>
        <div class="col-8 ">
            <div class="card shadow">
                <app-grafica-dinamica></app-grafica-dinamica>
             </div>
        </div>
      </div>

     

     
<br>
<app-buscarindicadores></app-buscarindicadores>
    
  
</div>