<mat-toolbar color="primary" class="menu">
    <img src="" alt="">
    <span>Proyecto  Cartera</span>
    <span class="example-spacer"></span>
    <button mat-button color="basic" *ngFor="let item of menu" [routerLink]="item.redirect">{{item.nombre}}</button>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/dashboard/hola">
        <mat-icon>logout</mat-icon>
      </button>
  
</mat-toolbar>