<div class="row margen">
  <form  [formGroup]="formulario" (ngSubmit)="analizarFormulario()" >
    <h1>Maestro De Clientes</h1>
    <div class="col-10">
        <div class="input-group mb-3">
          <span class="input-group-text" ><i class="bi bi-person-vcard"></i></span>
          <input type="text" class="form-control" placeholder="Ingrese el nit o cedula" formControlName="iup"(blur)="buscarMercancia()">
        </div>
    </div>

      <mat-form-field class="ancho" appearance="fill">
          <mat-label>Nombre Cliente </mat-label>
          <input class="form-control" matInput autocomplete="off"  formControlName="nombrecliente"  type="text" >
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
          <mat-label>Fecha antiguedad</mat-label>
          <input class="form-control" matInput autocomplete="off" formControlName="fechaantiguedad" type="text">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Ter General </mat-label>
          <input class="form-control" matInput autocomplete="off" formControlName="tergeneral" type="text" >
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Cupo Credito </mat-label>
          <input class="form-control" matInput autocomplete="off" formControlName="cupocredito" type="text" >
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Clasificacion Cliente </mat-label>
          <input class="form-control" matInput autocomplete="off" formControlName="clasificacioncliente" type="text" >
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Cliente Perfil </mat-label>
          <input class="form-control" matInput autocomplete="off" formControlName="clienteperfil" type="text" >
        </mat-form-field>
    </form>
  </div>



